body {
  margin: 0;
  overflow: hidden;
  background: #000;
}
canvas {
  display: block;
}

.infoPanel {
  position: absolute;
  top: 20px;
  left: 20px;
  background: white;
  border: 1px solid #000;
  padding: 20px;
  z-index: 10;
}
